.container{
    margin-top: 20px;
    background-color: rgb(10, 34, 10);
    color: white;
    border-radius:  10px;
    padding-bottom: 5px;
   
}
.btn{
    background-color: rgb(10, 103, 190);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}