.service{
    border: 2px solid white;
    border-radius: 10px;
    height: 600px;
    margin-top: 5px;
    background-color: rgb(247, 244, 222);
    color: rgb(14, 114, 59);
    margin-bottom: 50px;
    text-align: center;


}
.service p{
    margin-bottom: 20px;
} 
.service img{
    height: 300px;
    width: 400px;
    margin-top: 10px;
    border: 2px solid wheat;
    border-radius: 5px;
}
.button{
    background-color: rgb(10, 103, 190);
    color: white;
    width: 100%;
    margin-top: 40px;
    padding: 14px;
    border: none;
    border-radius: 10px;
   
}
.button:hover{
    background-color: rgba(10, 103, 190, 0.897) ;
}

