.details{
    color: #fff;
}
.details-btn{
        background: rgb(10, 103, 190);
        border-radius: 20px;
        border: none;
        color: #fff;
        padding: 10px;
        font-weight: 600;
        margin: 80px;
        
      
       
    }