.service-text{
    background-color: #151320;
    color: rgb(247, 244, 222);
    
   
}
.services-container{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly


}
@media only screen and (max-width: 576px) {
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width: 577px) and (max-width: 992px){
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }

}
